body,p,h1,h2,h3,h4,h5,h6,hr,dl,dd,form{
	margin: 0;
}
ul,ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
	color: #000;
}
img{
	vertical-align: top;
	border: none;
}
input{
	padding: 0;
	border-width: 0;
	outline: none;
}

/*float*/
.tl{
	float: left;
}
.tr{
	float: right;
}
/*clear*/
.clearfix{
	*zoom: 1;
}
.clearfix::after{
	display: block;
	content: "";
	clear: both;
}
