/*reset*/
body,p,h2,h3,h4,dd{
	margin: 0;
}
a{
	text-decoration: none;
	color: #000;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
/*ddetails*/
#box{
	width: 760px;
	height: 516px;
	margin: 50px auto;
	background-image: linear-gradient(#6d1e2e,#2a1922);
	padding: 30px;
	box-sizing: border-box;
}
.inner{
	height: 456px;
	background-color: #20242d;
	border-radius: 10px;
	padding: 20px 25px;
	box-sizing: border-box;
}

#box .head{
	height: 46px;
	margin-bottom: 20px;
}
#box .head h2{
	float: left;
	width: 170px;
	height: 46px;
	text-indent: -9999px;
	background: url(../img/zp-img.png) no-repeat;
}
#box .head .head-right{
	float: right;
	width: 260px;
	height: 46px;
	line-height: 46px;
}
.head-right a{
	float: left;
	font-size: 14px;
}
.head-right a:nth-of-type(1){
	height: 46px;
	line-height: 46px;
	margin-right: 30px;
	color: #c7cbe3;
}
.head-right a:nth-of-type(2){
	width: 108px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border: 2px solid #9d1a2a;
	margin-top: 8px;
	border-radius: 16px;
	color: #9d1a2a;
}
.main header{
	height: 66px;
	border-bottom: 2px dashed #272b34;
}
.main header h3{
	height: 20px;
	line-height: 20px;
	font-size: 20px;
	color: #d2d5e8;
	font-weight: normal;
}
.resume{
	height: 46px;
	line-height: 46px;
	color: #aeb3c9;
	font-size: 14px;
}
.resume-left{
	float: left;
}
.resume time{
	float: right;
	font-size: 12px;
	color: #555c6a;
	font-weight: bold;
}
.content{
	color: #677285;
}
.content dt, .content h4{
	color: #bdc2d7;
	line-height: 30px;
}
.content h4{
	font-weight: normal;
}
.content dd, .content .h4-content{
	line-height: 26px;
	font-size: 14px;
}
